/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  font-size: 62.5%;
  height: 100%;
}
body {
  background: #c0143c url(../img/bg_tile.jpg) repeat fixed left top;
  font-size: 1.6rem;
  line-height: 1.6em;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #38040b;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.6em 0;
  padding: 0;
  color: hsl(55deg 100% 69%);
  text-transform: uppercase;
  font-family: 'Old Standard TT', serif;
  line-height: 1em;
}

#container {
  max-width: 40em;
  min-height: 100%;
  padding-top: 2em;
  background-color: hsl(52deg 100% 60%);
  margin: 0 auto;
  box-shadow: 0px 0px 6.3px rgb(0 0 0 / 11%), 0px 0px 15.8px rgb(0 0 0 / 16%),
    0px 0px 49px rgb(0 0 0 / 22%);
}

header,
footer,
section {
  padding: 1.6em 3%;
}

section {
  padding-top: 6em;
  padding-bottom: 6em;
}
@media screen and (max-width: 800px) {
  section {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

p,
ul {
  margin: 1.6em 0;
}

p {
  text-align: left;
}

h3 {
  font-size: 2.6rem;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
}
h3 .border,
h4 .border {
  display: block;
  border-bottom: 1px solid hsl(55deg 100% 69%);
  width: 20%;
  margin: 0 auto;
  margin-top: 0.5em;
}

h4 {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}

.work h3 {
  margin-top: 0.5em;
}

.noTopPadding {
  padding-top: 0;
  margin-top: 0;
}

a {
  transition: color 0.2s ease 0s;
}

a:link {
  color: #0000ee;
}
a:visited {
  color: #581c90;
}
a:hover,
a:active {
  color: #360b5d;
}

.listColumns {
  overflow: hidden;
}
.listColumns ul {
  display: block;
  float: left;
  width: 48%;
  text-align: left;
  margin-left: 0;
  padding: 0;
  list-style: none;
  margin-top: 0;
}
.listColumns ul:first-child {
  text-align: right;
  margin-right: 4%;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  justify-content: center;
}
.project-skill {
  /* display: inline; */
  /* background-color: hsl(52deg 100% 60%); */
  background-image: linear-gradient(
    130deg,
    hsl(52deg 100% 60%) 0%,
    hsl(52deg 100% 70%) 30%,
    hsl(52deg 100% 50%) 74%
  );
  color: #38040b;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 0 5px 5px 0;
  box-shadow: 0px 0px 6.3px rgb(0 0 0 / 11%), 0px 0px 15.8px rgb(0 0 0 / 16%),
    0px 0px 49px rgb(0 0 0 / 22%);
  font-size: 1.4rem;
}

@media screen and (max-width: 450px) {
  .listColumns ul,
  .listColumns ul:first-child {
    text-align: center;
    float: none;
    width: auto;
    margin-right: 0;
  }
  .listColumns ul:first-child {
    margin-bottom: 0;
  }
}

.alignedList {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
.alignedList .left {
  text-align: right;
  margin-right: 4%;
  width: 48%;
  display: inline-block;
}
.alignedList .right {
  text-align: left;
  width: 48%;
  display: inline-block;
}

header {
  overflow: hidden;
  min-height: 61.8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

header h1,
header h2,
header h3 {
  color: #38040b;
}

header h1 {
  font-size: 3.6rem;
  margin-top: 0.5em;
}
header h1 .sub {
  display: block;
}
header h1 .sub1 {
  font-size: 1.4rem;
}
header h1 .sub2 {
  margin: 0.6em 0 0.6em;

  letter-spacing: 0.2em;
  margin-right: -0.2em;
}
header h1 .sub3 {
  font-size: 2rem;
}

header .logo {
  width: 7em;
}

nav {
  margin-top: 4em;
  font-family: 'Old Standard TT', serif;
  font-style: italic;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin-left: 1em;
}
nav ul li:first-child {
  margin-left: 0;
}

section {
  overflow: hidden;
}

footer {
  font-family: 'Old Standard TT', serif;
  font-style: italic;
}

section.red {
  background-color: #7d091e;
  color: hsl(55deg 100% 90%);

  background: #c0143c; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #c0143c 0%,
    #7d091e 66%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #c0143c),
    color-stop(66%, #7d091e)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    -45deg,
    #c0143c 0%,
    #7d091e 66%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    -45deg,
    #c0143c 0%,
    #7d091e 66%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #c0143c 0%, #7d091e 66%); /* IE10+ */
  background: linear-gradient(135deg, #c0143c 0%, #7d091e 66%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0143c', endColorstr='#7d091e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

section.red a:link,
section.red a:visited {
  color: hsl(55deg 100% 69%);
}
section.red a:hover,
section.red a:active {
  color: hsl(55deg 55% 69%);
}

.photoPortrait {
  width: auto;
  max-width: 30%;
  border-radius: 50%;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: ' (' attr(href) ')';
  }

  abbr[title]:after {
    content: ' (' attr(title) ')';
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
