/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
			font-size: 62.5%;
			height: 100%;

		}
body {
	background: #C0143C url(../img/bg_tile.jpg) repeat fixed left top;
	font-size: 1.6rem;
	line-height: 1.6em;
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;


	
	/*font-family: 'Old Standard TT', serif;
	font-size: 1.6rem;
	line-height: 1.6em;*/


	line-height: 1.6em;
	font-family: "PT Sans", sans-serif;


	color: #E5DFD9;

	color: #38040b;


	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1.6em 0;
	padding: 0;
	color: #fff260;
	text-transform: uppercase;
	font-family: 'Old Standard TT', serif;
	line-height: 1em;
}



#container {
	/*max-width: 600px;*/
	max-width: 40em;
	min-height: 100%;
	padding-top: 2em;
	background-color: #f6dd3b;

	margin: 0 auto;

}


header, footer, section {
	padding: 1.6em 3%;
}

section {
	padding-top: 6em;
	padding-bottom: 6em;

}
@media screen and (max-width: 800px) {
	section {
		padding-top: 2em;
		padding-bottom: 2em;
	}
}



p, ul {
	margin: 1.6em 0;
}

p {
	text-align: left;
}

h3 {
	font-size: 3.6rem;
	letter-spacing: 0.2em;
	margin-right: -0.2em;
	margin-bottom: 0.5em;
	

	
}
h3 .border,
h4 .border {
	display: block;
	border-bottom: 1px solid #fff260;
	width: 20%;
	margin: 0 auto;
	margin-top: 0.5em;
}

h4 {
	font-size: 2rem;
	margin-bottom: 0.5em;
}


.work h3 {
	margin-top: 0.5em;
}

.noTopPadding {
	padding-top: 0;
	margin-top: 0;
}

a {
	transition: color 0.2s ease 0s;
}

a:link {
	color: #0000ee;
}
a:visited {
	color: #581C90;
}
a:hover,
a:active {
	color: #360b5d;
}


.listColumns {
	overflow: hidden;
}
.listColumns ul {
	display: block;
	float: left;
	width: 48%;
	text-align: left;
	margin-left: 0;
	padding: 0;
	list-style: none;
	margin-top: 0;
}
.listColumns ul:first-child {
	text-align: right;
	margin-right: 4%;
}

@media screen and (max-width: 450px) {
	.listColumns ul,
	.listColumns ul:first-child {
		text-align: center;
		float: none;
		width: auto;
		margin-right: 0;
	}
	.listColumns ul:first-child {
		margin-bottom: 0;
	}
}

.alignedList {
	list-style: none;
	margin-left: 0;
	padding: 0;
}
.alignedList .left {
	text-align: right;
	margin-right: 4%;
	width: 48%;
	display: inline-block;
}
.alignedList .right {
	text-align: left;
	width: 48%;
	display: inline-block;
}



header {
	overflow: hidden;
}

header h1, 
header h2, 
header h3 {
	color: #38040b;
}


header h1 {
	font-size: 7.2rem;
	margin-bottom: 0.6em;
	letter-spacing: 0.3em;
	margin-right: -0.3em;


}
header h2 {
	font-size: 3.6rem;
	margin-top: 0.5em;

}
header h2 .sub {
	display: block;
}
header h2 .sub1 {
	font-size: 1.4rem;
}
header h2 .sub2 {
	margin: 0.6em 0 0.6em;

	letter-spacing: 0.2em;
	margin-right: -0.2em;
}
header h2 .sub3 {
	font-size: 2rem
}


header .logo {
	width: 7em
}

nav {
	margin-top: 4em;
	font-family: 'Old Standard TT', serif;
	font-style: italic;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	margin-left: 1em;
}
nav ul li:first-child {
	margin-left: 0;
}


section {
	overflow: hidden;
}


footer {
	font-family: 'Old Standard TT', serif;
	font-style: italic;
}



section.pink {
	background-color: #c0143c;
	color: #ffec1d;
}
section.red {
	background-color: #7D091E;
	color: #fadde3;


	background-color: #7D091E;
	color: #ffec1d;


	background: #c0143c; /* Old browsers */
background: -moz-linear-gradient(-45deg, #c0143c 0%, #7d091e 66%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#c0143c), color-stop(66%,#7d091e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #c0143c 0%,#7d091e 66%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #c0143c 0%,#7d091e 66%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #c0143c 0%,#7d091e 66%); /* IE10+ */
background: linear-gradient(135deg, #c0143c 0%,#7d091e 66%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0143c', endColorstr='#7d091e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}


section.red a:link,
section.red a:visited {
	color: #fff260;
}
section.red a:hover,
section.red a:active {
	color: #b18a07;
}



.projectScreen {
	width: 95%;
	background-color: #000;
	border-radius: 10px;
	padding: 2.7%;
	padding-bottom: 6%;
	padding-top: 3.3%;

	margin: 1.6em auto;

	-webkit-box-shadow: 5px 5px 0px #5b0d18;
    -moz-box-shadow:    5px 5px 0px #5b0d18;
	box-shadow:         5px 5px 0px #5b0d18;

	border-top: 1px solid #444;
	border-left: 1px solid #444;
}
.projectScreen img {
	width: 100%;
	border: 2px solid #444942;
}


.photoPortrait {
	width: auto;
	max-width: 30%;
	border-radius: 50%;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min-resolution: 144dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow:none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
